.dm-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-container {
  height: 100%;
  flex: 1;
}

.dm-is-mobile {
  flex: 1 0 auto;
}

.sidenav {
  width: 250px;
}

.sidenav .mat-toolbar {
  background: inherit;
  display: flex;
  justify-content: space-between;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar > h1 {
  margin-left: 0.5rem;
}
